<section>
    <div class="container profile-form">
        <form action="/private/user" method="post" enctype="multipart/form-data">
            <div class="position_form">
                <label class="img-username">
                    <div class="img-user" style="background-image: url({{user.imgPath}})"></div>
                    <input type="file" id="input_form_image" name="photo">
                    <input type="submit" id="input_form_save" value="Save">
                </label>
                <h1 class="username">Welcome {{user.username}}!</h1>
            </div>
        </form>
    </div>
</section>
{{!-- Two containers: My projects and My Cards --}}
<section class="el-papi">
    {{!-- My Projects --}}
    <article class="contenedor">
        {{!-- Title --}}
        <div class="div-title txt-purple">
            <h2>My Projects</h2>
        </div>
        {{!-- Project folders, edit button --}}
        {{#each user.projects}}
        <a class="btn btn-project" href="/private/projects/{{id}}/edit">
            <div class="projects">
                <div class="projects-list">
                    <h4 class="mb-0">{{this.title}}</h4>
                </div>
                {{!-- Delete button  --}}
                <div>
                    <form action="projects/{{this._id}}/delete" method="post">
                        <button type="submit" class="projects-list bg-purple border-0 rounded-circle">
                            <h2 class="mb-0 pr-3 pt-2">x</h2>
                        </button>
                    </form>
                </div>
            </div>
        </a>
        {{/each}}
        {{!-- Add project folder  --}}
        <a class="btn btn-project" href="/random">
            <div class="projects projects-list">
                <h1>+</h1>
            </div>
        </a>
    </article>
    {{!-- My Cards  --}}
    <article class="contenedor">
        {{!-- Title  --}}
        <div class="div-title txt-green">
            <h2>My Cards</h2>
        </div>
        {{!-- Card folders  --}}

        <div class="card-box">
            {{#each user.cards}}
            <div class="cards">
                <div class="cards-align">
                    <form class="" action="cards/{{this._id}}/delete" method="post">
                        <button type="submit" class="projects-list bg-green border-0 rounded-circle">
                            <h2 class="">x</h2>
                        </button>
                    </form>
                </div>
                <div class="card-list">
                    <img src="/images/navbaricon-white.png" alt="logo-white">
                    <p>{{this.description}}</p>
                </div>
                {{!-- Delete cards  --}}
            </div>
            {{/each}}
            {{!-- Add cards  --}}
            <a class="" href="/private/cards/create">
                <div class="cards card-btn">
                    <h1>+</h1>
                </div>
            </a>
        </div>


    </article>
</section>