<section class="main">
    
<section>
    <div class="container">
        <h1 class="username">Welcome {{user.username}}</h1>
            <form action="/private/user" method="post" enctype="multipart/form-data">
                <div class="position_form">
                    <img src="{{user.imgPath}}" class="col-lg-2 img-user" alt="Imagen del usuario"> 
                    <input type="file" name="photo">
                    <input type="submit" value="SAVE">
                </div>                  
            </form>
            
    </div>
</section>

<section class="container-fluid">
    <div class="div-title">
        <h2>My Projects</h2>
    </div>
    <div class="">
           {{#each user.projects}}
           <div class="projects">
                <div class="projects-list inline-block">
                    <h4>Title: {{this.title}}</h4>
                    <h5>{{this.description}}</h5>
                </div>
                <div class="inline-block">
                    <a class="" href="/projects/{{_id}}/edit">Edit</a>
                    <form class="inline-block" action="project/{{this._id}}/delete" method="post">
                        <button type="submit" class="" >Delete</button>
                    </form>
                </div>
            </div>
    </div>
           {{/each}}
        <div class="btn-new-project">
            <a class="" href="/random">+</a>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="div-title">
        <h2>My Cards</h2>
    </div>
    <div class="">
    <div class="trying">
            {{#each user.cards}}
            <div class="cards">
                <div class="">
                    {{this.description}}
                </div>
                <div class="cards-align">
                    <form class="" action="cards/{{this._id}}/delete" method="post">
                        <button type="submit" class="">Delete</button>
                    </form>
                </div>
            </div>
            {{/each}}
    </div>
        <div class="btn-new-card">
            <a class="" href="/private/cards/create">+</a>
        </div>
    </div>
</section>

</section>