<section class="main">
    
<section>
    <div class="container">
            <div class="private-img">
                <img src="/images/profile-default.png" class="col-lg-2" alt="Imagen del usuario">
                {{!-- <img src="user.imgPath" alt="">  --}}
            </div>
            <div class="div-name"> 
                <h1 class="col-lg-6">{{user.username}}</h1>
            </div>
    </div>
</section>

<section class="container-fluid">
    <div class="div-title">
        <h2>My Projects</h2>
    </div>
    <div class="">
           {{#each user.projects}}
           <div class="projects">
                <div class="projects-list inline-block">
                    {{this.title}}
                </div>
                <div class="inline-block">
                    <a class="" href="/project/{{_id}}/edit">Edit</a>
                    <form class="inline-block" action="project/{{this._id}}/delete" method="post">
                        <button class="" >Delete</button>
                    </form>
                </div>
            </div>
    </div>
           {{/each}}
        <div class="btn-new-project">
            <a class="" href="/random">+</a>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="div-title">
        <h2>My Cards</h2>
    </div>
    <div class="">
    <div class="trying">
            {{#each user.cards}}
            <div class="cards">
                <div class="">
                    {{this.description}}
                </div>
                <div class="cards-align">
                    <form class="" action="cards/{{this._id}}/delete" method="post">
                        <button class="">Delete</button>
                    </form>
                </div>
            </div>
            {{/each}}
    </div>
        <div class="btn-new-card">
            <a class="" href="/private/cards/create">+</a>
        </div>
    </div>
</section>

</section>