<section>

    <div class="private_image">
            <img src="/images/profile-default.png" class="col-lg-2" alt="Imagen del usuario">
        
            <!--Usar multer para que el usario pueda subir una imagen suya-->
            <img src="{{imgPath}}" alt="">
            <h3>Name: {{user.username}}</h3>
          
       

    </div>

</section>

    <section class="info_perfil">
    <h2>My Projects</h2>
    <div>
        <!--Información de la base de datos-->
        <ul>
           {{#each user.projects}}
                <!--Cada li una carpeta de proyecto -debería ser llamando al objeto {{userProjects}}-->
                <li>
                    <h3>Project Title: {{this.title}}</h3>
                    <h4>Project description: {{this.description}}</h4>
                    <a class="btn btn-dark" href="/project/{{_id}}/edit">Edit</a>
                    <form action="project/{{this._id}}/delete" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </li>
           {{/each}}
        </ul>
        <div>
            <a class="btn btn-info" href="/random">Create Project</a>
        </div>
    </div>

    <h2>My Cards</h2>
    <div>
        <!--Información de la base de datos-->
        <div>
            <ul>
                {{#each user.cards}}
                    <!--Cada li una card -debería ser llamando al objeto {{userCards}}-->
                    <li>
                        <p>Message Card: {{this.description}}</p>
                        <a class="btn btn-dark" href="/card/{{_id}}/edit">Edit</a>
                        <form action="card/{{this._id}}/delete" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <a class="btn btn-info" href="/private/cards/create">Create Card</a>
        </div>
    </div>


</section>